.Skills{
    min-height: 100vh;
    padding: 0 2em 2em 2em;
}
.skill-title{
    text-align: center;
    margin: 0;
    padding: 1em 1em 2em 1em;
    font-size: 2rem;
}
.skills-list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}
.lang-logo{
    height: 44px;
    width: 48px;
}
.skill{
    background-color: #2d2d2d;
    padding: 4px;
    display: flex;  
    align-items: center;
    gap: 11px;
    width: 200px;
    border: 1px solid #564c4c;
    overflow: hidden;
    position: relative;
    transform-style: preserve-3d;
    border-radius: 10px;
}
.skill:hover{
    transform: rotateY(10deg);
}
.skill::after{
    content:"";
    position: absolute;
    top: 43px;
    left: -110px;
    background: white;
    height: 10px;
    width: 150px;
    transform: rotate(45deg);
    filter: blur(3px);
}
.skill:hover{
    background-color: #ff005373;
    box-shadow: 0px 0px 9px 3px #ff002d;
}
.skill:hover::after{
    transition: .7s cubic-bezier(0.64, 0.03, 0.25, 1);
    transform:rotate(45deg) translateY(-300px) translateX(240px);
}
@media (max-width:900px){
    .skill{
        width: 180px;
    }
}
@media (max-width:732px){
    .skills-list{
        padding: 10px;
    }
}
@media (max-width:500px){
    .skill-title{
        font-size: 1.6rem;
    }
    .language{
        display: none;
    }
    .Skills{
        padding: 0 0 2em 0;
    }
    .skill{
        width: fit-content;
        background: #232323;
    }
}